include ../bemto/bemto

doctype html
html(lang='en')

	head
		title= config.title
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href=url_for('css/index.css'))

	body
		header
			+b.logo
				+e.A(href=config.url).link
					+e.SPAN.head russtone
					+e.SPAN.tail .io

		nav
			+b.UL.nav-menu
				each name, path in theme.menu
					+e.item
						+e.link(href=url_for(path))= name

		main
			block content

		footer
			+b.UL.contacts
				each item, name in theme.contacts
					+e.item
						+e.A(href=item.link, class='link _' + name)
							i(class=item.icon)

		// google-analytics
		script(type='text/javascript').
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '#{theme.google_analytics}', 'auto');
			ga('send', 'pageview');

		// disqus
		script(type='text/javascript').
			var disqus_config = function () {
				this.page.url = '#{page.permalink}';
				this.page.identifier = '#{url_for(page.path)}';
			};
			(function() {
					var d = document, s = d.createElement('script');
					s.src = '#{theme.disqus}';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
			})();

