include ../bemto/bemto

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })

doctype html
html(lang='en')

  head
    title= config.title
    link(rel='stylesheet', href=url_for('css/index.css'))

  body
    header
      +b.A(href=config.url).logo
        +e.SPAN.head russtone
        +e.SPAN.tail .io

    nav
      +b.UL.nav-menu
        each name, path in theme.menu
          +e.item
            +e.link(href=url_for(path))= name

    main
      block content

    footer
      +b.UL.contacts
        each item, name in theme.contacts
          +e.item
            +e.A(href=item.link, class='link--' + name)
              i(class=item.icon)

    script(type='text/x-mathjax-config').
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ['\\(','\\)'] ],
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
          processEscapes: true
        }
      });

    script(type='text/javascript', async,
           src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML')
